<!-- edit_bank_account.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Edit Bank Account</title>
</head>
<body>
    <h1>Edit Bank Account</h1>
    <form method="post" action="{% url 'edit_bank_account' account_id=account.pk %}">
        {% csrf_token %}
        <!-- IT IS USED TO VALIDATE THE CURRENT USER FOR HITTING THE FORM ("POST") REQUEST -->
        {{ form.as_p }}
        <!-- IT WILL RENDER THE FORM DIRECTLY HERE FROM THE VIEW -->
        <button type="submit">Save Changes</button>
    </form>
    <a href="{% url 'user_list' %}">Cancel</a>
</body>
</html>
